<div class="page">
<div class="example-container">

    <div class="left">
    </div>

    <div class= "right">
    <div>
        <form [formGroup]="signin">
        <mat-form-field >
        <mat-label>Enter your email</mat-label>
        <input matInput placeholder="iytemail@example.com" formControlName="email" required>
        <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error>
        </mat-form-field>
        </form>
    </div>
    <div>
        <form [formGroup]="signin">
            <mat-form-field >
                <mat-label>Enter your password</mat-label>
                <input matInput placeholder="Password" [type]="hide ? 'password' : 'text'" formControlName="password" required>
                <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                <mat-hint *ngIf="!passwordInput.value">Enter your password</mat-hint>
             </mat-form-field>
           </form>
    </div>
    <div>
        <button (click)= "onLoginClick()" class= "login" mat-raised-button color="warn">Login</button>
    </div>
    </div>
</div>
</div>