.example-container .mat-form-field {
  margin-left: 0px;
}

.page{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.example-container{
  background-color: white;
  padding: 15px;
  margin-top: 150px;
  border-radius: 25px;
}

.left{
  display: inline-block;
}

.right{
  display: inline-block;
}

.login{
  width: 100%;
}

.left{
  margin-right: 15px;
  margin-top: 15px;
  background-color: #cccccc;
  width: 150px;
  height: 150px;
  background-image: url("../../../assets/iyte.png");
}

.right{
  bottom: 10px;
}