.card1{
    width: 350px;
    display: inline-block;
    margin-left: 50px;
    margin-top: 50px;
}

.card2{
    width: 350px;
    display: inline-block;
    margin-left: 50px;
    margin-top: 50px;
}