<div id="holder">
    <div class="card1">
        <mat-card  class="laststep">
            <div mat-card-image></div>
            <mat-card-content>
                <p class="title laststepTitle">
                    CURRENT STEP STEP
                </p>
                <p class="info">
                    {{currentStep}}
                </p>
            </mat-card-content>
        </mat-card>
    </div>
    <div class="card1">
        <mat-card class="nextstep">
            <div mat-card-image></div>
            <mat-card-content>
                <p class="title nexstepTitle">
                    NEXT STEP
                </p>
                <p class="info">
                    {{nextStep}}
                </p>
            </mat-card-content>
        </mat-card>
    </div>
    <div class="card1">
        <mat-card class="taskHeader">
            <div mat-card-image></div>
            <mat-card-content>
                <p class="title taskTitle">
                    TASKS
                </p>
                <div class="percentageHolder">
                    <p class="info task">
                        {{taskProgress}}%
                    </p>
                    <mat-progress-bar mode="determinate" value="taskProgress"></mat-progress-bar>
                </div>
            </mat-card-content>
        </mat-card>
    </div>
</div>