<div class="studentsHeader">
  Students
</div>
<div class="mat-elevation-z8">
  <div class="header">
    Student Information
  </div>
  <ng-container *ngIf="dataSourcePending">
    <table mat-table [dataSource]="dataSourcePending">
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef> Name </th>
        <td mat-cell *matCellDef="let element"> {{element.name}} </td>
      </ng-container>
      <ng-container matColumnDef="researchfields">
        <th mat-header-cell *matHeaderCellDef> Research Fields </th>
        <td mat-cell *matCellDef="let element"> {{element.branch}} </td>
      </ng-container>
      <ng-container matColumnDef="department">
        <th mat-header-cell *matHeaderCellDef> Department </th>
        <td mat-cell *matCellDef="let element"> {{element.department}} </td>
      </ng-container>
      <ng-container matColumnDef="symbol">
        <th mat-header-cell *matHeaderCellDef> Symbol </th>
        <td mat-cell *matCellDef="let element; let i = index">
          <ng-container *ngIf = "element.status == null">
            <button mat-raised-button (click)="onAcceptClick($event, i)" color="primary">Accept</button>
            <button mat-raised-button (click)="onRejectClick($event, i)"  color="warn">Reject</button>
          </ng-container>
          <ng-container *ngIf = "element.status == false">
            <p class="rejectedState"> rejected </p>
          </ng-container>
        </td>
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row (click)= "onRowClick(i)" *matRowDef="let row; columns: displayedColumns;; let i = index"></tr>
      </ng-container>
    </table>
    <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
  </ng-container>
</div>
<div class="mat-elevation-z8 accepted">
  <div class="header">
    Accepted Students
  </div>
  <ng-container *ngIf="dataSourceAccepted">
    <table mat-table [dataSource]="dataSourceAccepted">
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef> Name </th>
        <td mat-cell *matCellDef="let element"> {{element.name}} </td>
      </ng-container>
      <ng-container matColumnDef="researchfields">
        <th mat-header-cell *matHeaderCellDef> Research Fields </th>
        <td mat-cell *matCellDef="let element"> {{element.branch}} </td>
      </ng-container>
      <ng-container matColumnDef="department">
        <th mat-header-cell *matHeaderCellDef> Department </th>
        <td mat-cell *matCellDef="let element"> {{element.department}} </td>
      </ng-container>
      <ng-container matColumnDef="symbol">
        <tr mat-header-row *matHeaderRowDef="displayedColumnsAccepted"></tr>
        <tr mat-row (click)= "onAcceptedRowClick(i)" *matRowDef="let row; columns: displayedColumnsAccepted;; let i = index"></tr>
      </ng-container>
    </table>
    <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
  </ng-container>
</div>