<div>
    <mat-card class="card1">
        <mat-card-content>
            <div class="fileUploaderHeader">
                <h2 class="example-h2">Submit a Document</h2> 
            </div>
            <section class="example-section">
                <div class="addDocumentHeaderWrapper">
                    <p class="addDocumentHeader">Document Submission</p> 
                </div>
                <!--mat-checkbox (change)="togglePermissionCheck($event.checked)" class="example-margin">I accept that this document is my own work.</mat-checkbox-->
            </section>
        </mat-card-content>        
          <div id="uploader">
            <!--angular-file-uploader #fileUpload
                [config]="afuConfig"
                (ApiResponse)="DocUpload($event)">
            </angular-file-uploader-->
            <form [formGroup]="uploads">
                <input 
                hidden 
                type="file" 
                #uploader
                (change)="uploadFile($event)"
                />                
                <br>  
                <input type="checkbox" id="checking" >
                <label for="checking"> This form is my own, except where I have acknowledged the use of works of other people work</label><br>
                <br>  
            </form>
                <button id="myBtn" (click)="upload()">
                    Upload
                </button> 
            <p class= "Ftype"> </p>
            <p class= "Fsize"> </p>
            <p class= "Success"> </p>
        </div>
    </mat-card>
</div>