<div class="card1">
    <mat-card  class="laststep">
        <div mat-card-image></div>
        <mat-card-content>
            <p class="title laststepTitle">
                HOŞGELDİNİZ
            </p>
            <p class="info">
                {{user_email}}
            </p>
        </mat-card-content>
    </mat-card>
</div>
<div class="card1">
    <mat-card class="nextstep">
        <div mat-card-image></div>
        <mat-card-content>
            <p class="title nexstepTitle">
                NUMBER OF PROPOSALS
            </p>
            <p class="info">
                {{prop_num}}
            </p>
        </mat-card-content>
    </mat-card>
</div>