<mat-sidenav-container class="example-container" >
	<mat-sidenav #sidenav style="background-color: tomato;">
	  <!--mat-nav-list>
		<a *ngFor="let route of routes[0].children"
		   mat-list-item  
		   [routerLink]="route.path" 
		   (click)="sidenav.toggle()"> {{route.label}} </a>
	  </mat-nav-list-->
	  <mat-nav-list *ngIf="this.authService.loginCheck$ | async">
		<a 
		mat-list-item
		(click)="sidenav.toggle()"
		routerLink="/dashboard"
		> dashboard </a>
	  </mat-nav-list>
	  <mat-nav-list *ngIf="this.authService.loginCheck$ | async">
		<a 
		mat-list-item
		(click)="sidenav.toggle()"
		routerLink="/students"
		> students </a>
	  </mat-nav-list>
	  <mat-nav-list *ngIf="(this.authService.loginCheck$ | async) && (this.authService.loginType$ | async) == 'student'">
		<a 
		mat-list-item
		(click)="sidenav.toggle()"
		routerLink="/advisors"
		> advisors </a>
	  </mat-nav-list>
	  <mat-nav-list *ngIf="!(this.authService.loginCheck$ | async)">
		<a 
		mat-list-item
		(click)="sidenav.toggle()"
		routerLink="/sign"
		> sign </a>
	  </mat-nav-list>
	  <mat-nav-list
	  *ngIf="(this.authService.loginCheck$ | async) && (this.authService.loginType$ | async) == 'student'">
	   <a 
	   mat-list-item
	   (click)="sidenav.toggle()"
	   routerLink="/documents"
	   > documents </a>
	 </mat-nav-list>
	  <mat-nav-list (click)="onLogoutClick()"
	   *ngIf="this.authService.loginCheck$ | async">
		<a 
		mat-list-item
		(click)="sidenav.toggle()"
		> logout </a>
	  </mat-nav-list>
	</mat-sidenav>
	<mat-sidenav-content class="content">
	  <div style="height: auto;">
		  <mat-toolbar color="warn">
			<button  mat-icon-button 
					 aria-label="Menu"
					 (click)="sidenav.open()">
			<mat-icon>menu</mat-icon>
		  </button>  
	</mat-toolbar>
	  <router-outlet></router-outlet>
	  </div>
	</mat-sidenav-content>
</mat-sidenav-container>